@keyframes appear {
    0%{
        opacity: 0;
        transform: scale(0.95) translateY(15px);
        box-shadow: none;
    }
}
.todolist{
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: white;
    padding: 20px;
    flex-wrap: wrap;
    > ul{
        padding: 0;
    }
    animation: appear 0.4s ease;
}
