.button{
    padding: 20px;
    border-radius: 2px;
    background: #CCC;
    border: none;
    &.-action{
        border-radius: 50%;
        padding: 0;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        > *{
            font-size: 32px;
        }
    }
}

.todolist-add-modal{
    .button{
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    touch-action: none;
    transition: opacity 0.3s ease;
    will-change: opacity;
    &.-opened{
        opacity: 1;
        visibility: visible;
        touch-action: auto;
    }

}
